.carrossel__titulo{
    background-color: var(--branco);
    color: var(--laranja);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    padding: 1.5em 0 1em 0;
    text-align: center;
}
.swiper img{
    width: 100%;
}

.swiper-pagination{
    position: initial;
    margin: 0.5em 0;
}

.swiper-button-prev, .swiper-button-next{
    display: none;
}

.card{
    background-color: var(--branco);
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px #00000040;
    margin: 1em;
    padding: 1em;
}
.card__descricao{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
}

.descricao__titulo{
    color: var(--laranja);
    font-size: 16px;
    font-weight: 700;
}

.descricao__titulo-livro{
    color: var(--azul);
    font-size: 18px;
    font-weight: 700;
    margin: 1em 0;
}
.descricao{
    color: var(--preto);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.3em;
}

.card__botoes{
    display: flex;
    justify-content: space-between;
}

.botoes__item{
    margin: 0 0.5em;
}
.botoes, .botoes__ancora{
    display: flex;
    margin-top: 1em;
}

.botoes__ancora{
    background-color: var(--laranja);
    color: var(--branco);
    text-decoration: none;
    font-weight: 700;
    padding: 1em 2.2em;
}

@media screen and (min-width: 1024px) {
    .carrossel__titulo{
        font-size: 26px;
        padding-top: 2em;
    }

    .swiper-pagination{
        margin: 2em 0 3em 0;
    }

    .swiper{
        width: 80%;
    }
    .swiper img{
        width: 90%;
    }
    .swiper-button-prev, .swiper-button-next{
        display: block;
        top: 60%;
    }
    .swiper-button-prev{
        left: 1%;
    }
    .swiper-button-next{
        right: 3%;
    }

    .card{
        width: 50%;
        margin: 2em auto;
    }
}